body{
    font-family:Arial, Helvetica, sans-serif;
}

.gradient-custom {
    background-color: #29e7cd;
    background-image: linear-gradient(315deg, #9ad28f 0%,  #29e7cd  74%);
}

#label{
    font-style: italic;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    display:table-header-group
}

td,th {
    /* border: 1px solid #aefdbb; */
    padding: 8px;
}

/* for front page */

#front-image{
    width: 700px;
    height: 550px;
}
